@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&family=Ubuntu:wght@300;500;700&display=swap');

body {
    background-color: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

#navbar {
    line-height: 4rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: .5px solid #ffffff52;
    border-width: 80%;
    margin-bottom: 1rem;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    margin: 0px 1rem;
}

#navbar ul li a {
    text-decoration: none;
    padding: 0.5rem 0.9rem;

}

.right {
    display: none;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.nav-col a:hover {
    border-radius: .4rem;
    color: #1f1f38;
    background-color: #fff;
}


/* Home Section */
#home {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(235 232 229);
}

.home-left,
.home-right {
    width: 48%;
    padding: 2rem;
}

.home-right {
    padding: 0;
}

.home-left h6,
h4 {
    color: hsl(240deg 8% 43%);
    margin: 1rem 0;
    margin-left: 3px;
    font-size: 1.2rem;
}

.home-left h1 {
    font-size: 2.5rem;
}

.home-right {
    position: relative;
}

.home-right img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    border-radius: 62%;
    height: 100%;
}

.circle {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    padding: .5rem;
    position: relative;
}

/* About Section */
.about-left,
.about-right {
    width: 48%;
}

.about-right {
    padding-right: 4rem;
}

.aboout-left {
    position: relative;
}

.about-left img {
    width: 90%;
    border-radius: 1rem;
}

.about-content p {
    margin-bottom: 2rem;
}




/* Coming Soon posters Section */

.card {
    margin: 0 2rem 0 2rem;
    position: relative;
    width: 250px;
    height: 140px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    padding: 30px;
    transition: .3s;
    background-color: #fff;
    cursor: pointer;
}

.card:hover {
    height: 300px;
    transition: .2s;
}

.card:hover .content {
    transform: translateY(-170px);
    opacity: 1;
}

.imgbox {
    position: relative;
    width: 100%;
    height: 150%;
    z-index: 99;
}

.image1 {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-80px);
}

.content {
    transition: .3s;
    transform: translateY(-150px);
    text-align: center;
    opacity: 0;
}

.content h2 {
    margin-bottom: 0.3rem;
}

.main-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

















/* photography */

.images {
    display: flex;
}

.image-item {
    width: 80px;
    height: 300px;
    background-image: url("fashion.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.4s;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    margin: 1rem;
}

.image-item:nth-child(2) {
    background-image: url("streetpic.jpg");
}

.image-item:nth-child(3) {
    background-image: url("aesthetic.jpg");

}

h2 {
    opacity: 0;
    color: white;
    position: absolute;
    bottom: 2px;
    left: 50%;
    font-size: 1.1rem;
    transition: all 0.4s;
    font-family: sans-serif;
    transform: translate(-50%, -50%);

}

.image-item:hover {
    width: 160px;
    height: 300px;
}

.image-item:hover h2 {
    position: absolute;
    bottom: 2px;
    left: 50%;
    opacity: 1;
    z-index: 2;
    transition: all 0.4s;
    transform: translate(-50%, -50%);
}

.image-item:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    border-radius: 20px;
    transition: all 0.4s;
    background-image: linear-gradient(0deg, #e65b00, rgb(255 255 255 / 0%));
}










/* Footer Section  */
#footer {
    background-color: #4db5ff;
    padding: 2rem;
    padding-bottom: 4rem;
}

ul li {
    list-style: none;
    margin: 0 1rem;
}

ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #1f1f38;
    transition: all .5s;
}

ul li a:hover {
    color: #fff;
}


.font-awesome {
    margin: 1.1rem auto;
}

.font-awesome li i {
    background-color: #1f1f38;
    padding: 0.6rem;
    border: 1px solid #1f1f38;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.font-awesome li i:hover {
    border: 1px solid #1f1f38;
    border-radius: .5rem;
    background: transparent;
    color: #1f1f38;
}

#footer p {
    color: #1f1f38;
    font-size: .9srem;
}





/* Bottom Navigator */
#bottom {
    position: fixed;
    width: 100%;
    height: 6rem;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    bottom: 0rem;
}

#bottom .bottom-nav {
    height: 4rem;
    padding: 0 2rem;
    background-color: #151527;
    border-radius: 3rem;
    z-index: 1000;
    display: -webkit-inline-box;
}

#bottom .bottom-nav li {
    color: #fff;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;
    transition: all .4s ease-in-out;
}

#bottom .bottom-nav ul a {
    text-decoration: none;

}

#bottom .bottom-nav li:hover {
    background-color: #4db5ff;
}

#bottom .bottom-nav li:active {
    background-color: #4db5ff;
}

.cpy-white {
    color: white;
}


/* Utility Classes */
.poppins {
    font-family: 'Poppins', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.s-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.f-col {
    flex-direction: column;
}


.p-relative {
    position: relative;
}

.t-black {
    color: #000000;
}

.t-white {
    color: #fff;
}

.bg-color {
    background-color: #222124;
}

.t-center {
    text-align: center;
}

.my-2 {
    margin: 2rem 0;
}

.f-2 {
    font-size: 2rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.w-50 {
    width: 50%;
}

.w-80 {
    width: 80%;
}

.h-50 {
    height: 50vh;
}

.mx-1 {
    margin: 0 1rem;
}

.m-top {
    margin-top: 1rem;
}

.m-auto {
    margin: auto;
}

